<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Oficina Art Car</title>
		</head>
	<body>

		<h1>Oficina ART CAR</h1>
		<h2>Oficina automotiva</h2>
		<br />
		<h2>Bem vindo a página inicial</h2>

		<form action="/area_acesso" method="post">
			<input type="submit" value="Área de acesso" />
		</form>
		<br />

	</body>
</html>