<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Oficina Art Car</title>
		</head>
	<body>

        <h1>Oficina Art Car</h1>
        <br/>
        <h2>Área de acesso</h2>
        
        <form action="/visuClientes" method="post">
			<input type="submit" value="Visualizar lista de clientes" />
		</form>
        <br />
        
        <form action="/CadastrarClientes" method="post">
			<input type="submit" value="Cadastrar novo cliente" />
		</form>
		<br />

	</body>
</html>